<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto+Slab|Dosis' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
    <link rel="shortcut icon" type="image/png" href="/static/images/favF.png"/>
    <meta charset="utf-8">

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2">
    </script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
    </script>

    <!--  Mobilview først-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  
  <!-- 

id
name
datestart
dateend
place
x
y
organizer
site
pop
rock
metal
indie
jazz
blues
folk
country
dancing
rap-hip-hop
classical
other
bygdefestival
teaterrevyhumor
lineup
shows profile ticketsprize
sone1 (0-500) sone2 (500-1000)
sone3 (1000-1500) sone4 (1500+) sone5 (dagspass)
sone6 (todagerspass)
sone7 (undgomspass) sone 8 (gratis for barn)
free
discount
age alcohol budget
sponsors
estaudience forchildren barnevennlig
food-drink
camptype
camp
transportationtype
transportation
market
disabledtype
disabled
sanitary
paid-staff
unpaidstaff anno
more
Ferdig
Ansvar


  -->
  
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">
            Toggle navigation
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
        </button>
        <a class="navbar-brand" href="http://www.smp.no" target="_blank">
          <img src="/static/images/S.png">
        </a>
        
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">
              TILBAKE TIL FESTIVALGUIDEN
            </a>
          </li>
           <li>
            <a href="#din">
                DIN FESTIVAL
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>


  <div>

<img class="detaljtopp"src="/static/images/detaljtopp.jpg"/>
</div>
  <!--Body start-->

  <body style= "background-color:#fffff;padding-top:70px;font-family:Dosis">
    <div class="container">
       <!--<div>
        <img  class="displayed" style="width:100%;margin-top:-20px"src="/static/images/Annonse.jpg" />
      </div>-->
            <a name="din"> </a>
  <div id="detaljbilde"> <h1 class="overskrift-detalj">{{object.name}}</h1> <h3 class="overskrift2-detalj">{{object.datestart}}-{{object.dateend}},<br>
{{object.place}}
    </h3></div>
         
  <div id="detaljbilde"> <img style="width:100%;" src="/static/images/{{object.id}}b.jpg"/></div>


         </div>

         <!--end containter-->

    <!--<div class="h2-break">
      <div class="hidden-xs">
                
    
        <div class="h2-break">
          
            <span>
              
              <div class="h2-break">
                DENNE FESTIVALEN OPPFYLLER DISSE KRITERIENE:
              </div>
              
            </span>
            <p>
              <button type="button" class="btn btn-warning btn-lg knapp">
                JUNI
              </button>
              <button type="button" class="btn btn-danger btn-lg knapp">
                MUSIKK: ROCK, POP.
              </button>

              <button type="button" class="btn btn-success btn-lg knapp">
                OPP TIL 500 kr.
              </button>             
              <button type="button" class="btn btn-success btn-lg knapp">
                FESTIVALPASS
              </button>
              <button type="button" class="btn btn-info btn-lg knapp">
                BARNEVENNLIG FESTIVAL
              </button>
              
              <button type="button" class="btn btn-info btn-lg knapp">
                FESTIVALCAMP
              </button>
              
              <button type="button" class="btn btn-info btn-lg knapp">
                TILBYR TRANSPORT
              </button>
              <button type="button" class="btn btn-info btn-lg knapp">
                TILRETTELAGT FOR FUNKSJONSHEMMEDE
              </button>
          </p>
        </div>
      </div>
    </div>
  </div>
-->




  <hr>
  <div class="overskrift3-detalj">Årets artister: <br> {{object.lineup}}<br></div>
  <hr>
  <div class="overskrift-story">Arrangøren forteller:</div> 
  <div class="brod-story">{{object.profile}}</div>
  <hr>

<table class="table table-bordered"">
    <tr>
  <td class="active"Billetter</td>  
  <td class="active">Aldersgrense</td>  
  <td class="active">For barna</td>  
  <td class="active">Forventa publikum</td>
  <td class="active">Tilrettelagt for funksjonshemma</td>  
  </tr>
  <tr>
  <td class="active">{{object.discount}}</td>
  <td class="success">{{object.age}}</td>
  <td class="warning">{{object.forchildren}}</td>
  <td class="danger">{{object.estaudience}}</td>
  <td class="info">{{object.disabledtype}}</</td>
</tr>

</table>



    
    </div>
<div>
<div class="container brodtekst">
       tekst
     </div><!--end containter-->
<div> <div> Billetter: <br> Fredagspass 729,- Lørdagspass 834,- Helgepass 1244,-<br>
  Aldersgrense:<br> 18 år (ingen aldersgrense på barneprogrammet).</div>
    </div>
    </div>
    <div class="container">
     <div id="map" style="width:100%; height:300px;"></div>
     </div><!--end containter-->













        <script type="text/javascript">
            var map = L.map('map').setView([{{ object.y }}, {{ object.x }}], 15);
            var mapquestLayer = new L.TileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>,<a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.',
                subdomains: ['otile1','otile2','otile3','otile4']
            });
            map.addLayer(mapquestLayer);
            var marker = L.marker([{{ object.y }}, {{ object.x }}]).addTo(map);
        </script>
    </body>
</html>