<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto+Slab|Dosis' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://interaktiv.smp.no/2014/Festivaler/main.css"/>
    <link rel="shortcut icon" type="image/png" href="http://interaktiv.smp.no/2014/Festivaler/images/favF.png"/>
    
    <meta charset="utf-8">
    <script
    type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js">
      
    </script>
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2">
    </script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="http://interaktiv.smp.no/2014/Festivaler/js/pym.js" >
    </script>
    
    
    <!--  Mobilview først-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  
  
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">
            Toggle navigation
          </span>
          <span class="icon-bar">
            
          </span>
          <span class="icon-bar">
          </span>
          
          <span class="icon-bar">
          </span>
        </button>
        <a class="navbar-brand" href="http://www.smp.no" target="_blank">
          <img src="http://interaktiv.smp.no/2014/Festivaler/images/S.png">
        </a>
        
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#guide">
              FESTIVALGUIDEN
            </a>
          </li>
          <li>
            <a href="#velg">
              
              VELG
            </a>
          </li>
          <li>
            <a href="#alle">
              OVERSIKT
            </a>
          </li>
          <li>
            <a href="#om">
              OM
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  
  
  
  
  
  
  
  
  
  
  
  <!--Body start-->
  <body style= "background-color:#fffff;padding-top:70px;font-family:Dosis;">
    <div class="container">
      <!--Annonse-->
      <div>
        <p style="font-size:0.75em;color:grey">
          Annonse
        </p>
        <img  class="displayed" width="100%"src="http://interaktiv.smp.no/2014/Festivaler/images/Annonse.jpg" />
      </div>
      <br>
      <a name="guide">
      </a>
      
      
      
      <!--mobil-->
      <div class="h2-break">
        <div class="hidden-sm hidden-md hidden-lg">
          <img class="logoB" src="http://interaktiv.smp.no/2014/Festivaler/images/logoBxs.png" />
          <hr>
          
          <a name="velg">
          </a>
          <div class="h2-break">
            <p>
              
              <span>
                
                <h3>
                  VELG HVA DU VIL HA:
                </h3>
              </span>
            </p>
            <button type="button" class="btn btn-warning btn-sm knapp2">
              MAI
            </button>
            <button type="button" class="btn btn-warning btn-sm knapp2">
              JUNI
            </button>
            
            <button type="button" class="btn btn-warning btn-sm knapp2">
              JULI
            </button>
            
            <button type="button" class="btn btn-warning btn-sm knapp2">
              AUGUST
            </button>
            <button type="button" class="btn btn-danger btn-sm knapp2">
              MUSIKK
            </button>
            
            <button type="button" class="btn btn-danger btn-sm knapp2">
              TEATER
            </button>
            <button type="button" class="btn btn-danger btn-sm knapp2">
              REVY
            </button>
            <button type="button" class="btn btn-danger btn-sm knapp2">
              HUMOR
            </button>
            
            <button type="button" class="btn btn-danger btn-sm knapp2">
              BYGDEFESTIVAL
            </button>
            
            <button type="button" class="btn btn-success btn-sm knapp2">
              GRATIS
            </button>
            <button type="button" class="btn btn-success btn-sm knapp2">
              OPP TIL 500 kr.
            </button>
            <button type="button" class="btn btn-success btn-sm knapp2">
              FRA 500-1.000 kr.
            </button>
            
            <button type="button" class="btn btn-success btn-sm knapp2">
              OVER 1.000 kr.
            </button>
            
            <button type="button" class="btn btn-success btn-sm knapp2">
              FESTIVALPASS
            </button>
            <button type="button" class="btn btn-info btn-sm knapp2">
              BARNEVENNLIG FESTIVAL
            </button>
            
            <button type="button" class="btn btn-info btn-sm knapp2">
              FESTIVALCAMP
            </button>
            
            <button type="button" class="btn btn-info btn-sm knapp2">
              TILBYR TRANSPORT
            </button>
            <button type="button" class="btn btn-info btn-sm knapp2">
              TILRETTELAGT FOR FUNKSJONSHEMMEDE
            </button>
            
            <br>
            
            <button type="button" class="btn btn-primary btn-sm knapp2">
              VIS ALLE
            </button>
          </p>
          
        </div>
      </div>
    </div>
    <!--end mobil-->
    
    <div class="h2-break">
      <div class="hidden-xs">
        <img class="logoB" src="http://interaktiv.smp.no/2014/Festivaler/images/logoB.png" />
        <hr>
        
        <a name="velg">
        </a>
        <div class="h2-break">
          <p>
            <span>
              
              <h3>
                VELG HVA DU VIL HA:
              </h3>
              
            </span>
            <p>
              <button type="button" class="btn btn-warning btn-lg knapp">
                MAI
              </button>
              <button type="button" class="btn btn-warning btn-lg knapp">
                JUNI
              </button>
              
              <button type="button" class="btn btn-warning btn-lg knapp">
                JULI
              </button>
              
              <button type="button" class="btn btn-warning btn-lg knapp">
                AUGUST
              </button>
              <button type="button" class="btn btn-danger btn-lg knapp">
                MUSIKK
              </button>
              
              <button type="button" class="btn btn-danger btn-lg knapp">
                TEATER
              </button>
              <button type="button" class="btn btn-danger btn-lg knapp">
                REVY
              </button>
              <button type="button" class="btn btn-danger btn-lg knapp">
                HUMOR
              </button>
              
              <button type="button" class="btn btn-danger btn-lg knapp">
                BYGDEFESTIVAL
              </button>
              
              <button type="button" class="btn btn-success btn-lg knapp">
                GRATIS
              </button>
              <button type="button" class="btn btn-success btn-lg knapp">
                OPP TIL 500 kr.
              </button>
              <button type="button" class="btn btn-success btn-lg knapp">
                FRA 500-1.000 kr.
              </button>
              
              <button type="button" class="btn btn-success btn-lg knapp">
                OVER 1.000 kr.
              </button>
              
              <button type="button" class="btn btn-success btn-lg knapp">
                FESTIVALPASS
              </button>
              <button type="button" class="btn btn-info btn-lg knapp">
                BARNEVENNLIG FESTIVAL
              </button>
              
              <button type="button" class="btn btn-info btn-lg knapp">
                FESTIVALCAMP
              </button>
              
              <button type="button" class="btn btn-info btn-lg knapp">
                TILBYR TRANSPORT
              </button>
              <button type="button" class="btn btn-info btn-lg knapp">
                TILRETTELAGT FOR FUNKSJONSHEMMEDE
              </button>
              
              <br>
              
              <button type="button" class="btn btn-primary btn-lg knapp">
                VIS ALLE
              </button>
          </p>
        </div>
      </div>
    </div>
    
    
    
    <!--start test columns-->
    
    
    
    
    
    <!---Start liste-->
    <a name="alle">
    </a>
    <br>
    <hr>
    <br>
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/1.jpg" style="width: 140px; height: 140px;">
          <h3>
            Back In The Fields Rock Festival
          </h3>
          <p>
            <a class="btn btn-default" href="1" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/2.jpg" style="width: 140px; height: 140px;">
          <h3>
            Brøvøllsfestivalen 
          </h3>
          <p>
            <a class="btn btn-default" href="2" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/3.jpg" style="width: 140px; height: 140px;">
          <h3>
            Dei nynorske festspela
          </h3>
          <p>
            <a class="btn btn-default" href="3" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/4.jpg" style="width: 140px; height: 140px;">
            <h3>
              Fjord Cadenza 
              <br>
            </h3>
            <p>
              <a class="btn btn-default" href="4" role="button">
                Les mer »
              </a>
            </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/5.jpg" style="width: 140px; height: 140px;">
          <h3>
            Folven sykkelfestival
          </h3>
          <p>
            <a class="btn btn-default" href="5" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/6.jpg" style="width: 140px; height: 140px;">
          <h3>
            Fosnavåg Rock 
            <br>
          </h3>
          <p>
            <a class="btn btn-default" href="6" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/7.jpg" style="width: 140px; height: 140px;">
          <h3>
            Gapskratten Revyfestival
          </h3>
          <p>
            <a class="btn btn-default" href="7" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/8.jpg" style="width: 140px; height: 140px;">
          <h3>
            Glopperock 
            <br>
          </h3>
          <p>
            <a class="btn btn-default" href="8" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/9.jpg" style="width: 140px; height: 140px;">
          <h3>
            Go with 
            <br>
            the Flø
          </h3>
          <p>
            <a class="btn btn-default" href="9" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/10.jpg" style="width: 140px; height: 140px;">
          <h3>
            Indiefjord
          </h3>
          <p>
            <a class="btn btn-default" href="10" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/11.jpg" style="width: 140px; height: 140px;">
          <h3>
            Jugendfest
          </h3>
          <p>
            <a class="btn btn-default" href="11" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/12.jpg" style="width: 140px; height: 140px;">
          <h3>
            Kulturdagane i Hornindal
          </h3>
          <p>
            <a class="btn btn-default" href="12" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/13.jpg" style="width: 140px; height: 140px;">
          <h3>
            Kyrkjehola Kulturbeite
          </h3>
          <p>
            <a class="btn btn-default" href="13" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/14.jpg" style="width: 140px; height: 140px;">
          <h3>
            Langevågsdagane 
          </h3>
          <p>
            <a class="btn btn-default" href="14" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/15.jpg" style="width: 140px; height: 140px;">
          <h3>
            Makrell-
            <br>
            festivalen
          </h3>
          <p>
            <a class="btn btn-default" href="15" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/16.jpg" style="width: 140px; height: 140px;">
          <h3>
            Malakoff Rockfestival
          </h3>
          <p>
            <a class="btn btn-default" href="16" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/17.jpg" style="width: 140px; height: 140px;">
          <h3>
            Maritme sommarfestival
          </h3>
          <p>
            <a class="btn btn-default" href="17" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/18.jpg" style="width: 140px; height: 140px;">
          <h3>
            Matfestivalen i Ålesund
          </h3>
          <p>
            <a class="btn btn-default" href="18" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/19.jpg" style="width: 140px; height: 140px;">
          <h3>
            Midsundfestivalen
          </h3>
          <p>
            <a class="btn btn-default" href="19" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/20.jpg" style="width: 140px; height: 140px;">
          <h3>
            Midtsommar-
            <br>
            dagar
          </h3>
          <p>
            <a class="btn btn-default" href="20" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/21.jpg" style="width: 140px; height: 140px;">
          <h3>
            Midtsommerjazz
          </h3>
          <p>
            <a class="btn btn-default" href="21" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/22.jpg" style="width: 140px; height: 140px;">
          <h3>
            Moldejazz
          </h3>
          <p>
            <a class="btn btn-default" href="22" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/23.jpg" style="width: 140px; height: 140px;">
          <h3>
            Myldredagane
          </h3>
          <p>
            <a class="btn btn-default" href="23" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/24.jpg" style="width: 140px; height: 140px;">
          <h3>
            Måløy Havfiskefestival 
          </h3>
          <p>
            <a class="btn btn-default" href="24" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/25.jpg" style="width: 140px; height: 140px;">
          <h3>
            Måløydagene
          </h3>
          <p>
            <a class="btn btn-default" href="25" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/26.jpg" style="width: 140px; height: 140px;">
          <h3>
            Naturfestivalen
          </h3>
          <p>
            <a class="btn btn-default" href="26" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/27.jpg" style="width: 140px; height: 140px;">
          <h3>
            Norsk Fjellfestival
          </h3>
          <p>
            <a class="btn btn-default" href="27" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/28.jpg" style="width: 140px; height: 140px;">
          <h3>
            Olden-
            <br>
            dagane
          </h3>
          <p>
            <a class="btn btn-default" href="28" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/29.jpg" style="width: 140px; height: 140px;">
          <h3>
            Opplev Hareid
          </h3>
          <p>
            <a class="btn btn-default" href="29" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/30.jpg" style="width: 140px; height: 140px;">
          <h3>
            RaumaRock
          </h3>
          <p>
            <a class="btn btn-default" href="30" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/31.jpg" style="width: 140px; height: 140px;">
          <h3>
            Smak av Ulstein
          </h3>
          <p>
            <a class="btn btn-default" href="31" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/32.jpg" style="width: 140px; height: 140px;">
          <h3>
            Sommardagane i Utvik
          </h3>
          <p>
            <a class="btn btn-default" href="32" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/33.jpg" style="width: 140px; height: 140px;">
          <h3>
            Sommardagar på Hellesylt
          </h3>
          <p>
            <a class="btn btn-default" href="33" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/34.jpg" style="width: 140px; height: 140px;">
          <h3>
            Sommerfesten på Giske
          </h3>
          <p>
            <a class="btn btn-default" href="34" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/35.jpg" style="width: 140px; height: 140px;">
          <h3>
            Stryn Gummibåtfestival
          </h3>
          <p>
            <a class="btn btn-default" href="35" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/36.jpg" style="width: 140px; height: 140px;">
          <h3>
            Stryne-
            <br>
            festivalen
          </h3>
          <p>
            <a class="btn btn-default" href="36" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/37.jpg" style="width: 140px; height: 140px;">
          <h3>
            Trandalblues
          </h3>
          <p>
            <a class="btn btn-default" href="37" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/38.jpg" style="width: 140px; height: 140px;">
          <h3>
            Trebåtfestivalen
          </h3>
          <p>
            <a class="btn btn-default" href="38" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/39.jpg" style="width: 140px; height: 140px;">
          <h3>
            VanylvsRåkk
          </h3>
          <p>
            <a class="btn btn-default" href="39" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/40.jpg" style="width: 140px; height: 140px;">
          <h3>
            Ørskog Bluesfest
          </h3>
          <p>
            <a class="btn btn-default" href="40" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/41.jpg" style="width: 140px; height: 140px;">
          <h3>
            Ålesund Båtfestival
          </h3>
          <p>
            <a class="btn btn-default" href="41" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
        
        <div class="col-lg-3 col-md-4 col-sm-6 festivalrute">
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="http://interaktiv.smp.no/2014/festivaler/images/42.jpg" style="width: 140px; height: 140px;">
          <h3>
            Ålesund Kammermusikkfestival
          </h3>
          <p>
            <a class="btn btn-default" href="42" role="button">
              Les mer »
            </a>
          </p>
        </div>
        <!-- /.col-lg-3 col-md-4 col-sm-6 festivalrute -->
      </div>
      <!-- /.row -->
    </div>
    
    <!-- /.container marketing-->
    
    
    
    
    <!--End liste-->
  </div> <!--/ .container-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        
        <a class="twitter-timeline" href="https://twitter.com/search?q=%23smpno" data-widget-id="466131340258074624">
          Tweets om «#smpno»
        </a>
        
        <script>
          !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
            if(!d.getElementById(id)){
              js=d.createElement(s);
              js.id=id;
              js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
        
      </div>
      <div class="col-md-6">
        <div id="map" style="height:600px;max-width:520px">
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
</div>

<!--footer-->
<a name="om">
</a>
<nav class="navbar navbar-default navbar-bottom" role="navigation" style="background-color:black;height:800px">
  <div class="container">
    <p class="footertekst">
      <br>
      <br>
      Festivalguiden er levert av Sunnmørsposten. 
      <br>
      Tekst og bilder er hentet fra festivalarrangørene, og var hovedsaklig levert før 1. mai 2014. Forbehold om endringer. 
      <br>
      Copyright: Sunnmørsposten 2014. 
    </p>
  </div>
</nav>


        <script type="text/javascript">
            var map = L.map('map').setView([62.480906, 6.464081], 7);
            var mapquestLayer = new L.TileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>,<a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.',
                subdomains: ['otile1','otile2','otile3','otile4']
            });
            map.addLayer(mapquestLayer);
            var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "festival": "{{ obj.festival }}",
                    "id": "{{ obj.id }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.x }}, {{ obj.y }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };
             var dataLayer = L.geoJson(data, {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(
                        '<a href="' + feature.properties.id + '/">' +
                            feature.properties.full_name +
                        '</a>'
                    );
                }
            });
            map.addLayer(dataLayer);
        </script>

        <!--pym.js-script!-->
<script type="text/javascript" src="pym.js"></script>
<script>
    var pymParent = new pym.Parent('example-1', 'http://www.vimeo.com/player.vimeo.com/video/46082080', {});
    var second = new pym.Parent('example-2', 'http://interaktiv.smp.no/2014/rbr/rbrlogo.html', {});
</script>
    </body>
</html>